    {% extends 'base.html.twig' %}

    {% block body %}
        <head>
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        </head>

    <h1 style="color: #333; font-size: 32px; margin-bottom: 30px; text-align: center;">Liste des Quizs</h1>
    <table class="quiz-table" style="border-collapse: collapse; width: 100%;">
        <thead>
        <tr style="background-color: #f2f2f2;">

            <th style="background-color: #333; color: #fff; padding: 10px; text-align: left;">Title</th>
            <th style="background-color: #333; color: #fff; padding: 10px; text-align: left;">Description</th>
            <th style="background-color: #333; color: #fff; padding: 10px; text-align: left;"colspan=4";>Score</th>
        </tr>
        </thead>
        <tbody>
        {% for quiz in quizs %}
            <tr style="background-color: {{ loop.index is even ? '#f2f2f2' : '' }};">

                <td style="padding: 10px; text-align: left;">{{ quiz.quizTitle }}</td>
                <td style="padding: 10px; text-align: left;">{{ quiz.quizDescription }}</td>
                <td style="padding: 10px; text-align: left;">{{ quiz.score }}</td>
                <td style="padding: 10px; text-align: left;">
                    <a href="{{ path('app_quizs_open', {'id': quiz.idQuiz}) }}" style="display: inline-block; padding: 8px 16px; background-color: #6a0995; color: #fff; border-radius: 4px; text-decoration: none;">Open</a>
                </td>
                <td style="padding: 10px; text-align: left;">
                    <a href="{{ path('app_quizs_edit', {'id': quiz.idQuiz}) }}" style="display: inline-block; padding: 8px 16px; background-color: #6a0995; color: #fff; border-radius: 4px; text-decoration: none;">Edit</a>
                </td>
                <td style="padding: 10px; text-align: left;">
                    <a href="{{ path('app_quizs_delete', {'id': quiz.idQuiz}) }}" class="delete-link" data-id="{{ quiz.idQuiz }}" style="display: inline-block; padding: 8px 16px; background-color: #dc3545; color: #fff; border-radius: 4px; text-decoration: none;" onclick="event.preventDefault();
                            swal({
                            title: 'Are you sure?',
                            text: 'You will not be able to recover this quiz!',
                            icon: 'warning',
                            buttons: ['Cancel', 'Delete'],
                            dangerMode: true,
                            }).then((willDelete) => {
                            if (willDelete) {
                            window.location.href = '{{ path('app_quizs_delete', {'id': quiz.idQuiz}) }}';
                            }
                            });">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="add-quiz-btn" style="display: block; margin: 20px auto 0; text-align: center;">
        <a href="{{ path('app_quizs_new') }}" style="display: inline-block; padding: 12px 24px; background-color: #6a0995; color: #fff; border-radius: 4px; text-decoration: none;">Add Quiz</a>
    </div>
    {% endblock %}

