{% extends 'basepage.html.twig' %}

{% block title %}Send Reclamation
{% endblock %}

{% block display %}Reclamation
{% endblock %}

{% block breadcrumb %}Reclamation
{% endblock %}

{% block content %}
	<h1>Send Reclamation</h1>

	<div class="col-lg-12 wow fadeInUp" data-wow-delay="0.5s">
		<div class="row g-3">
			{{form_start(form,{'attr': {'novalidate': 'novalidate'}})}}

			<div class="col-lg-6">
				{{form_label(form.nom,'Nom : ',{'attr':{'class':'form-label'}})}}
				{{form_widget(form.nom,{'attr':{'class':'form-control'}})}}
				{{ form_errors(form.nom,{'attr':{'class':'form-control'}}) }}
			</div>
			<div class="col-lg-6">
				{{form_label(form.prenom,'Prenom : ',{'attr':{'class':'form-label'}})}}
				{{form_widget(form.prenom,{'attr':{'class':'form-control'}})}}
				{{ form_errors(form.prenom,{'attr':{'class':'form-control'}}) }}
			</div>
			<div class="col-lg-6">
				{{form_label(form.email,'Email : ',{'attr':{'class':'form-label'}})}}
				{{form_widget(form.email,{'attr':{'class':'form-control'}})}}
				{{ form_errors(form.email,{'attr':{'class':'form-control'}}) }}
			</div>
			<div class="col-lg-6">
				{{form_label(form.description,'Description : ',{'attr':{'class':'form-label'}})}}
				{{form_widget(form.description,{'attr':{'class':'form-control'}})}}
				{{ form_errors(form.description,{'attr':{'class':'form-control'}}) }}
			</div>
			<div style="margin: 10px 0 20px 0;" class="col-lg-6">
				<button class="btn btn-primary w-100 py-3" type="submit">Send</button>
			</div>
			{{form_end(form)}}
		</div>
	</div>

	<a href="{{ path('app_reclamation_index') }}">my reclamations</a>
{% endblock %}
