{% extends 'base2.html.twig' %}

{% block body %}
<!--div style="text-align:center;"-->
<div style="margin-top: 100px; margin-left: 300px;">

<div class="container" >
<div class="row"><div class="col-4">

<div>
  <canvas id="myChart1"></canvas>
</div></div><div class=col-8><canvas id="myChart2"></canvas></div></div></div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart1');

  new Chart(ctx, {
    type: 'polarArea',
    data: {
      labels: [
        {% for k in d %}
        '{{ k.getTitre() }}',
        {% endfor %}
      ],
      datasets: [{
        label: 'Salaire',
        data: [
          {% for k in d %}
          {{ k.getSalaire() }},
          {% endfor %}
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

<script>
  const ctx2 = document.getElementById('myChart2');

  new Chart(ctx2, {
    type: 'bar',
    data: {
      labels: [
        {% for k in d %}
        '{{ k.getLangage() }}',
        {% endfor %}
      ],
      datasets: [{
        label: 'Salaire',
        data: [
          {% for k in d %}
          {{ k.getSalaire() }},
          {% endfor %}
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

  <h1 style="font-size: 24px; font-weight: bold; text-align:center;">La liste des demandes</h1>
  <table style="border-collapse: collapse; width: 90%; margin-top: 20px; margin: 0 auto;">


    <thead style="background-color: #f2f2f2;">
      <tr>
        <th style="padding: 10px; border: 1px solid #ddd;">Id</th>
        <th style="padding: 10px; border: 1px solid #ddd;">Prénom</th>
        <th style="padding: 10px; border: 1px solid #ddd;">Nom</th>
        <th style="padding: 10px; border: 1px solid #ddd;">Titre</th>
        <th style="padding: 10px; border: 1px solid #ddd;">Description</th>
        <th style="padding: 10px; border: 1px solid #ddd;">Salaire</th> 
        <th style="padding: 10px; border: 1px solid #ddd;">Délai</th>
        <th style="padding: 10px; border: 1px solid #ddd;">Langage</th>
      </tr>
    </thead>
    <tbody>
      {% for i in d %}
        <tr style="background-color: #fff;">
          <td style="padding: 10px; border: 1px solid #ddd;">{{ i.id }}</td>
          <td style="padding: 10px; border: 1px solid #ddd;">{{ i.getIdClient().firstName }}</td>
          <td style="padding: 10px; border: 1px solid #ddd;">{{ i.getIdClient().lastName }}</td>
          <td style="padding: 10px; border: 1px solid #ddd;">{{ i.titre }}</td>
          <td style="padding: 10px; border: 1px solid #ddd;">{{ i.description }}</td>
          <td style="padding: 10px; border: 1px solid #ddd;">{{ i.salaire }}</td>
          <td style="padding: 10px; border: 1px solid #ddd;">{{ i.delai }}</td>
          <td style="padding: 10px; border: 1px solid #ddd;">{{ i.langage }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  
</div>

{% endblock %}
