{% extends 'base.html.twig' %}

{% block body %}
<div style="text-align:center;">
  <h1 style="font-size: 24px; font-weight: bold;">La liste des demandes</h1>
  <table style="border-collapse: collapse; width: 90%; margin-top: 20px; margin: 0 auto;">
    <thead style="background-color: #f2f2f2;">
      <tr>
        <!--th style="padding: 10px; border: 1px solid #ddd;">Id</th-->
        <th style="padding: 10px; border: 1px solid #ddd;">Prénom</th>
        <th style="padding: 10px; border: 1px solid #ddd;">Nom</th>
        <th style="padding: 10px; border: 1px solid #ddd;">Titre</th>
        <th style="padding: 10px; border: 1px solid #ddd;">Description</th>
        <th style="padding: 10px; border: 1px solid #ddd;">Salaire</th> 
        <th style="padding: 10px; border: 1px solid #ddd;">Délai</th>
        <th style="padding: 10px; border: 1px solid #ddd;">Langage</th>
        <th style="border: 1px solid #ddd; padding: 12px;">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for i in d %}
        <tr style="background-color: #fff;">
          <!--td style="padding: 10px; border: 1px solid #ddd;">{{ i.id }}</td-->
          <td style="padding: 10px; border: 1px solid #ddd;">{{ i.firstName }}</td>
          <td style="padding: 10px; border: 1px solid #ddd;">{{ i.lastName }}</td>
          <td style="padding: 10px; border: 1px solid #ddd;">{{ i.titre }}</td>
          <td style="padding: 10px; border: 1px solid #ddd;">{{ i.description }}</td>
          <td style="padding: 10px; border: 1px solid #ddd;">{{ i.salaire }}</td>
          <td style="padding: 10px; border: 1px solid #ddd;">{{ i.delai }}</td>
          <td style="padding: 10px; border: 1px solid #ddd;">{{ i.langage }}</td>
          <td style="border: 1px solid #ddd; padding: 12px;">
<!--form action="{{ path('add_proposition', {'idDemande': i.id}) }}" method="post" style="display:inline;"-->
<!--button type="submit" style="background-color:blue; color:#fff; padding:6px 12px; border:none; border-radius:3px; cursor:pointer;">Ajouter Proposition</button-->
<!--/form-->
<form action="{{ path('add_proposition', {'idDemande': i.id}) }}" method="get" style="display:inline;">
    <button type="submit" style="background-color:blue; color:#fff; padding:6px 12px; border:none; border-radius:3px; cursor:pointer;">Ajouter Proposition</button>
</form>
</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <a href="{{ path('app_readP') }}" style="display: inline-block; padding: 10px 20px; background-color: #4CAF50; color: #fff; text-decoration: none; border-radius: 5px; margin-top: 20px;">Retour</a>
</div>

{% endblock %}
