{% extends 'FreelancerA.html.twig' %}

{% block body %}

<head>
        <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet'>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    </head>

  <h1 style="font-size: 24px; font-weight: bold; margin-bottom: 20px; text-align:center;">Mes propositions</h1>
  <table style="border-collapse: collapse; width: 50%; margin: 0 auto;">
    <thead>
      <tr>
        <th style="border: 1px solid #ccc; padding: 8px;">Titre</th>
        <th style="border: 1px solid #ccc; padding: 8px;">Prénom</th>
        <th style="border: 1px solid #ccc; padding: 8px;">Nom</th>
        <th style="border: 1px solid #ccc; padding: 8px;">Email</th>
        <th style="border: 1px solid #ccc; padding: 8px;">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for i in p %}
      <tr>
        <td style="border: 1px solid #ccc; padding: 8px; color:black;">{{ i.titre }}</td>
        <td style="border: 1px solid #ccc; padding: 8px; color:black;">{{ i.firstName }}</td>
        <td style="border: 1px solid #ccc; padding: 8px; color:black;">{{ i.lastName }}</td>
        <td style="border: 1px solid #ccc; padding: 8px; color:black;">{{ i.email }}</td>
        <td style="border: 1px solid #ccc; padding: 8px;">
        <form action="{{ path('app_deleteP', {'id': i.id}) }}" method="post" style="display: inline-block;" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer cette proposition ?')">
            <button type="submit" class="delete-button" style="background-color: #dc3545; color: #fff; border: none; padding: 8px 16px; border-radius: 4px;">Supprimer</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <div style="text-align: center;">
  <a href="{{ path('app_readD') }}" style="display: inline-block; background-color: #007bff; color: #fff; text-decoration: none; padding: 8px 16px; border-radius: 4px;">Consulter les Demandes</a>
  </div>
{% endblock %}
