{% extends 'base.html.twig' %}

{% block title %}Commentaire index{% endblock %}

{% block body %}
    <h1>Commentaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idcommentaire</th>
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire in commentaires %}
            <tr>
                <td>{{ commentaire.idcommentaire }}</td>
                <td>{{ commentaire.commentaire }}</td>
                <td>
                    <a href="{{ path('app_commentaire_show', {'idcommentaire': commentaire.idcommentaire}) }}">show</a>
                    <a href="{{ path('app_commentaire_edit', {'idcommentaire': commentaire.idcommentaire}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commentaire_new') }}">Create new</a>
{% endblock %}
