{% extends 'Client.html.twig' %}
{% block body %}
    <h1 id="h1">Modifier  Commentaire </h1>
{{form_start(ff,{'attr': {'class': 'my-form-class'}}) }}
<table>
<tr>
<td> {{ form_label(ff.commentaire,"Commentaire")  }} 
 </td>
<td>  {{ form_widget(ff.commentaire) }} 
</td>  
<td> {{ form_errors(ff.commentaire) }} 
</td>
</tr>
</table>
 {{ form_widget(ff.submit)}} 
{{form_end(ff)}}
<form action="{{path('app_readoc') }}">
                        <button class="b-danger">Annuler</button>
                    </form>
                    {% endblock %}
