<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
    {% block stylesheets %}
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('back_office/images/favicon.png') }}">
    <link rel="stylesheet" href="{{ asset('back_office/vendor/owl-carousel/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('back_office/vendor/owl-carousel/css/owl.theme.default.min.css') }}">
    <link href="{{ asset('back_office/vendor/jqvmap/css/jqvmap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('back_office/css/style.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>

{% block header %}
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
           <a href="#" class="brand-logo">
                <img class="logo-abbr" src="{{asset('admin/images/logo.png')}}" alt="">
                <img class="logo-compact" src="{{asset('admin/images/logo-text.png')}}" alt="">
                <img class="brand-title" src="{{asset('admin/images/logo-text.png')}}" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="search_bar dropdown">
                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                                <div class="dropdown-menu p-0 m-0">
                                    <form>
                                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                    </form>
                                </div>
                            </div>
                        </div>

                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-bell"></i>
                                    <div class="pulse-css"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="list-unstyled">
                                        <li class="media dropdown-item">
                                            <span class="success"><i class="ti-user"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>Martin</strong> has added a <strong>customer</strong> Successfully
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="primary"><i class="ti-shopping-cart"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>Jennifer</strong> purchased Light Dashboard 2.0.</p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="danger"><i class="ti-bookmark"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>Robin</strong> marked a <strong>ticket</strong> as unsolved.
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="primary"><i class="ti-heart"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>David</strong> purchased Light Dashboard 1.0.</p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="success"><i class="ti-image"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong> James.</strong> has added a<strong>customer</strong> Successfully
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                    </ul>
                                    <a class="all-notification" href="#">See all notifications <i
                                            class="ti-arrow-right"></i></a>
                                </div>
                            </li>
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="app-profile.html" class="dropdown-item">
                                        <i class="icon-user"></i>
                                        <span class="ml-2">Profile </span>
                                    </a>
                                    <a href="email-inbox.html" class="dropdown-item">
                                        <i class="icon-envelope-open"></i>
                                        <span class="ml-2">Inbox </span>
                                    </a>
                                    <a href="page-login.html" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                <li><a class="has-arrow" href="{{path('app_admin')}}" aria-expanded="false"><i
                                class="icon icon-form"></i><span class="nav-text">Users</span></a>
                                  <li><a class="has-arrow" href="{{path('app_readoAdminn')}}" aria-expanded="false"><i
                                class="icon icon-form"></i><span class="nav-text">Offre</span></a>
                                     <li><a class="has-arrow" href="{{path('app_demandeb')}}" aria-expanded="false"><i
                                class="icon icon-form"></i><span class="nav-text">Demande</span></a>
                                     <li><a class="has-arrow" href="{{path('app_static')}}" aria-expanded="false"><i
                                class="icon icon-form"></i><span class="nav-text">Quiz</span></a>
                                 <li><a class="has-arrow" href="{{ path('event') }}" aria-expanded="false"><i
                                class="icon icon-single-04"></i><span class="nav-text">Events</span></a>
                    </li>
                    <li><a class="has-arrow" href="{{ path('admin_reservation_index') }}" aria-expanded="false"><i
                                class="icon icon-single-04"></i><span class="nav-text">Reservations</span></a>
                    </li>
                                     <li><a class="has-arrow" href="{{path('admin_reclamation_index')}}" aria-expanded="false"><i
                                class="icon icon-form"></i><span class="nav-text">Reclamation</span></a>
                       </li>
                                 <li><a class="has-arrow" href="{{path('admin_reponserec_index')}}" aria-expanded="false"><i
                                class="icon icon-form"></i><span class="nav-text">Reponse</span></a>
                       </li>
                       <li class="nav-label">Statistics</li>
                    
                                      <li><a class="has-arrow" href="{{path('app_static')}}" aria-expanded="false"><i
                                class="icon icon-form"></i><span class="nav-text"> Users</span></a>
                                
                        
                    </li>
                </ul>
            </div>


        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            {% block content %}

            {% endblock %}

        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Quixkit</a> 2019</p>
                <p>Distributed by <a href="https://themewagon.com/" target="_blank">Themewagon</a></p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
{% endblock %}
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js" integrity="sha256-DBxkGZLxKsLKhz054qUpBqtotG00r9AELGpSigJujLg=" crossorigin="anonymous"></script>
    {% block javascripts %}
    <script src="{{ asset('back_office/vendor/global/global.min.js') }}"></script>
    <script src="{{ asset('back_office/js/quixnav-init.js') }}"></script>
    <script src="{{ asset('back_office/js/custom.min.js') }}"></script>


    <!-- Vectormap -->
    <script src="{{ asset('back_office/vendor/raphael/raphael.min.js') }}"></script>
    <script src="{{ asset('back_office/vendor/morris/morris.min.js') }}"></script>


    <script src="{{ asset('back_office/vendor/circle-progress/circle-progress.min.js') }}"></script>
    <script src="{{ asset('back_office/vendor/chart.js/Chart.bundle.min.js') }}"></script>

    <script src="{{ asset('back_office/vendor/gaugeJS/dist/gauge.min.js') }}"></script>

    <!--  flot-chart js -->
    <script src="{{ asset('back_office/vendor/flot/jquery.flot.js') }}"></script>
    <script src="{{ asset('back_office/vendor/flot/jquery.flot.resize.js') }}"></script>

    <!-- Owl Carousel -->
    <script src="{{ asset('back_office/vendor/owl-carousel/js/owl.carousel.min.js') }}"></script>

    <!-- Counter Up -->
    <script src="{{ asset('back_office/vendor/jqvmap/js/jquery.vmap.min.js') }}"></script>
    <script src="{{ asset('back_office/vendor/jqvmap/js/jquery.vmap.usa.js') }}"></script>
    <script src="{{ asset('back_office/vendor/jquery.counterup/jquery.counterup.min.js') }}"></script>


    <script src="{{ asset('back_office/js/dashboard/dashboard-1.js') }}"></script>
    {% endblock %}

</body>


</html>