{% extends 'base2.html.twig' %}

{% block body %}
<div class="content-body">
    <h1 id="h1">La liste des Offres</h1>
    <div class="card-deck">
        {% for k in result %}
            <div class="card mb-4">
               
                <img src="{{asset("http://localhost/img/"~ k.srcimage)}}"class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ k.titre }}</h5>
                    <p class="card-text">Description :{{ k.description }}</p>
                    <p class="card-text">Salaire : {{ k.salaireh }}dt/h</p>
                    <p class="card-text">Posté par {{ k.firstName }} {{ k.lastName }}</p>
                </div>
             
            </div>
        {% endfor %}
    </div>
    </form>
                    
                    <form action="{{path('app_readou') }}">
                        <button class="b">Voir mes offres</button>
                    </form>
                    </div>
{% endblock %}